<div class="row mb-4">
    <div class="col">
        <h1><%= title %></h1>

        <% if(resetSuccess === false) { %>
            <div class="my-4 bg-danger text-white p-2">Сброс данных завершился ошибкой.</div>
        <% } %>
        <% if(uploadSuccess === false) { %>
            <div class="my-4 bg-danger text-white p-2">Загрузка данных завершилась ошибкой.</div>
        <% } %>

        <% if(resetSuccess === true) { %>
            <div class="my-4 bg-success text-white p-2">Сброс данных завершен успешно.</div>
        <% } %>
        <% if(uploadSuccess === true) { %>
            <div class="my-4 bg-success text-white p-2">Загрузка данных завершена успешно,
                обработано <%=parsedRowsCount%> строк.
                <% if(content === 'data') { %>
                    Добавлено <%=addedOrdersCount%> заказов.
                <% } %>
                <% if(content === 'codes') { %>
                Добавлено <%=addedCodesCount%> кодов.
                <% } %>
            </div>
        <% } %>
    </div>
</div>

<div class="row">
    <div class="col-6">

        <h2>Загрузка данных</h2>

        <form method="post" action="<%= formAction %>" class="my-4" enctype="multipart/form-data">
            <input type="hidden" name="content" value="data"/>
            <div>Загрузка данных из файла в формате Excel (отчет WES Paid Order Report)</div>

            <hr/>

            <div class="form-group">
                <input type="file" class="form-control-file" name="file" accept="application/vnd.ms-excel, .xls">
            </div>

            <div>
                <button type="submit" class="btn btn-primary my-1">Загрузить</button>
            </div>
        </form>


        <h2>Загрузка кодов доступа</h2>

        <form method="post" action="<%= formAction %>" class="my-4" enctype="multipart/form-data">
            <input type="hidden" name="content" value="codes"/>

            <div>Загрузка кодов доступа из файла в формате Excel</div>
            <hr/>

            <div class="form-group">
                <input type="file" class="form-control-file" name="file" accept="application/vnd.ms-excel, .xlsx">
            </div>

            <div>
                <button type="submit" class="btn btn-primary my-1">Загрузить</button>
            </div>
        </form>
    </div>

    <div class="col-6">
        <h2>Сброс данных</h2>

        <form method="post" action="<%= formAction %>" class="my-4" enctype="multipart/form-data">

            <p class="bg-warning p-2">Внимание! Произойдет полный сброс данных в базе!
                <br/>Не нажимайте, если не уверены в том, что делаете!!!</p>

            <input type="hidden" name="reset" value="1">

            <div>
                <button type="submit" disabled class="btn btn-danger my-1"
                        onclick="return confirm('Вы точно хотите это сделать?');">Сбросить</button>
            </div>
        </form>

    </div>
</div>
