<div class="row">
    <div class="col">

            <h1 class="text-center mb-4"><%= genderify(customer.gender, 'Уважаемый', 'Уважаемая') %>
                <%-
                ([customer.name, customer.surname].filter(Boolean).join('&nbsp;')).trim()
                %>!
            </h1>

            <p class="text-center">У&nbsp;вас есть
                <%- pluralize(hasMayUnpaidConsents, 'Соглашения, по&nbsp;которым', 'Соглашение, по&nbsp;которому')%>
                не&nbsp;произведена доплата.
                Для оплаты нажмите на&nbsp;кнопку ниже:</p>

        <% for (var i = 0; i < unpaidConsents.length;  i++ ) { let consent = unpaidConsents[i] %>
            <p class="text-center mt-4">
                <a class="btn btn-primary submit"
                   href="/customer/<%=customer.url_hash%>/<%=consent.id%>/retry"
                   tabindex="300<%= i %>" >
                    Подписать Соглашение
                    и&nbsp;доплатить&nbsp;<%-formatMoney(consent.consent_tickets_surcharge_amount, 0, 3, '&nbsp;', ',')
                            .trim() %>&nbsp;руб.
                </a>
            </p>
        <% } %>

    </div>
</div>
