<div class="row">
    <div class="col-xs-12">

        <form action="/customer/<%= customer.url_hash %>" method="post">

            <h1 class="text-center">Соглашение</h1>

            <table border="0" width="100%">
                <tr>
                    <td>
                        <p>г. Самара</p>
                    </td>
                    <td>
                        <p class="text-right"><%= formatDate(date)%></p>
                    </td>
                </tr>
            </table>

            <p>Я, <%= ([customer.surname, customer.name, customer.patronimic].filter(Boolean).join(' ')).trim() %>,
                имеющий в наличии <%- declension(customer.rest_tickets, "билет", "билета", "билетов") %>
                на мероприятие, согласен на замену формата мероприятия для&nbsp;
                <% if(!isSignMode) { %>
                    <label>
                        <select name="tickets_count">
                            <% for (var i = 1; i <= customer.rest_tickets;  i++ ) { %>
                                <option value="<%= i %>" <%= i === customer.rest_tickets ? 'selected' : '' %> >
                                    <%- declension(i, "билета", "билетов", "билетов") %></option>
                            <% } %>
                        </select>
                    </label>.
                <% } else { %>
                    <%- declension(customer.rest_tickets, "билета", "билетов", "билетов") %>.
                <% } %>
                Претензий к ООО «Н21 Ивентс» по поводу замены формата не имею.
            </p>
            <% if(!isSignMode){ %>
                <p>
                    <button type="submit" class="btn btn-primary">Подписать</button>
                </p>
            <% } else { %>
                <table border="0" width="100%">
                    <tr>
                        <td>
                            <p>Покупатель: <br/><br/>
                                <u>
                                <%= customer.surname %>
                                    <%= ([customer.name[0], (customer.patronimic || '')[0]].filter(Boolean).join('. ')).trim() %>.
                                </u>
                            </p>
                        </td>
                        <td>
                            <p>Продавец: <br/><br/>
                                <u>
                                <%= consentSigner %>
                                </u>
                            </p>
                        </td>
                    </tr>
                </table>
                <p class="text-center" style="z-index: -1">
                    <img alt="" style="width:47mm; height:18mm" src="data:image/svg+xml;base64,77u/PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgOTYiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzJmNjljMiIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMiAyaDI0NnY5MkgyeiIgY2xhc3M9IlJlY3QiLz48dGV4dCB4PSIxMjUiIHk9IjIxIiBmaWxsPSIjMmY2OWMyIiBmb250LWZhbWlseT0iQXJpYWwiIGZvbnQtc2l6ZT0iMjIiPjx0c3BhbiBkeT0iNyIgdGV4dC1hbmNob3I9Im1pZGRsZSI+0KHQvtCz0LvQsNGI0LXQvdC40LUg0L/QvtC00L/QuNGB0LDQvdC+PC90c3Bhbj48L3RleHQ+PHRleHQgeD0iMTI1IiB5PSI0OCIgZmlsbD0iIzJmNjljMiIgZm9udC1mYW1pbHk9IkFyaWFsIiBmb250LXNpemU9IjIyIj48dHNwYW4gZHk9IjciIHRleHQtYW5jaG9yPSJtaWRkbGUiPtGN0LvQtdC60YLRgNC+0L3QvdC+0Lkg0YbQuNGE0YDQvtCy0L7QuTwvdHNwYW4+PC90ZXh0Pjx0ZXh0IHg9IjEyNSIgeT0iNzIiIGZpbGw9IiMyZjY5YzIiIGZvbnQtZmFtaWx5PSJBcmlhbCIgZm9udC1zaXplPSIyMiI+PHRzcGFuIGR5PSI3IiB0ZXh0LWFuY2hvcj0ibWlkZGxlIj7Qv9C+0LTQv9C40YHRjNGOPC90c3Bhbj48L3RleHQ+PC9zdmc+" />
                </p>
            <% } %>
        </form>
    </div>
</div>
