<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title><%= title %></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container bg-dark">
        <a class="navbar-brand" href="<%= officialSite %>"><img alt="Network TwentyOne" src="data:image/png;base64,
        iVBORw0KGgoAAAANSUhEUgAAAO0AAAA3CAMAAADXNj30AAAC91BMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////b+1ypAAAA/HRSTlMAAQIDBAUGBwgJCgsMDQ4PEBESExQVFhcYGRobHB0eHyAhIiMkJSYnKCkqKywtLi8wMTI0NTY3ODk6Ozw9Pj9AQUJDREZHSElKS0xNTk9QUVJTVFVWV1hZWltcXV5fYGFiY2RlZmdoaWprbG1ub3BxcnN0dXZ3eHl6e3x9fn+AgYKDhIWGh4iJiouMjY6PkJGSk5SVlpeYmZqbnJ2en6ChoqOlpqeoqaqrrK2ur7CxsrO0tba3uLm6u7y9vr/AwcLDxMXGx8jJysvMzc7P0NHS09TV1tfY2drb3N3e3+Dh4uPk5ebn6Onq6+zt7u/w8fLz9PX29/j5+vv8/f55ko8+AAALzklEQVR4Xu2afVxUVRrHf8MMgKjMAL4bCqqgZtSmioqC6hZWartmBiKqlWvvKpYqilpitYa1WZsp6r5ZvlWamwMgqpmuWhokaLJohKAgoIgooDx/LOc5e4d7L8MolGx+2u8/PM8z3HP53nPOPYfzGTSS4NMW/HoYdtELt4fmFrOlOeqjVY/gAQGNv/XmFGvKhtZK5rMjyZrykbhZyz+nWm3sfssZwICURGvKxhYQDLXZLttrTUwZCqjS1EAuq+HajH1WLdzaM/ut1uStbSDBzov5JUkG1d9j3TcCkjZP7jhfWV1dlbdxkvLrmkaTNkT3N0Eyoub+qaucwDjH7bZadx5aiCKqYQck6FFBROctgPunpGG1E5AsgkJPnW2SqGa3hToN5bIarq0hHdzaQxxNgiSomoiuBkDyBAn6cGyKLiUbxVOlSJ1G9/mDmSiSdCOY5STI7ydtaQYkARWiagaiScdjmMJBgUVna+VyolGdhnBZDddWkw5uzeMHEa2F5DWuL4YkQSRHuKfb7iINn7cEo2/00gAIIkWcJm3nkOBsICBtKwfrbBeQjonwfbSkfluKa7StLGe5gznI9a9ZEJ65IlkgwtaHSMduD7u2lNNBZ/sSl/N6Q7GlH+7S2saQjkjAUuDAtvoBO7bXKxQqaXB9IxkDORwFgf9VTq7JoTxSxBW9RPhPkhSlZ10hyd9rbavkPSRztLZTpGwg2FayyU7fpkTH1DD78K3YUl7XurbLOwQo9HAHAoaH1BDEvbS0b00YOtAEoNkpUYiHYBFJFtXOtwMiepGYb8d4GV07zCggZqzNdnbHgAD/HmO2cfmQk9o2nGtXgqG2pRiNbfh+q3V/OJgPb8mW9rjXsZ0De1hle7WsEoWjPOr2EyPnquGI0ojnKa6ucAPTXmqlubKtqrV1IinrrLIdeVEEpcOhtb0epraVNMiW4htr+wgPxl7i/uUkqRRZkIjKuwGYzsWPoWA5woVhelu+orKHzRahl1g2DDpbyumuse0+bEgI03f7LdrS43rbWJj/S0tHtq4ZSh8uJqJqnn8vKMN6LwBs4CnrCxsPy/Got72fJ7rN9vD92az/OFS2+XJxtTqrbPsVNuQtZb3Gq2egzvZSXr6kJNXowBbvKFoHREes5T/UAKSK4EUA+FpEn6gf0AlR2aC3fY+Ejrdim8+L241wqG3zfL8lwVL4K7Z9cqkhthHvyqXdo74VKN2h7VAebp0QIN7I+30L5VDuVS6qnQG05L9mCRjVDE1Sv6UCuvVfSYLNYNtaxmlsC9wCeS5XhXWqd72d4ND2CRwmwUrstG+b5tDWeEyUpsttwOtIkEP5JUUInoXycxXzeUhpVqCKG8SM19vm+WtsLZjI5TMjL9ez3p7s5NA2Ev7FJIj4pDF9izfl/vUroTAEY3mDAX5fzAQA8zkRLoSKt1V9q2W7k96WvnTW2mItl3PKFVvN5qD6Bz/cxBYR8jFmq20vny+QlO5xbBvEzzq4VKw9RrTNF+vIoNOiBe4WY7rQ2IJajDz3Ntqx3WWGyvbSv7n4ps7W/RAxatsV7QMkPTvgprZYQYzadpHBIvF0+E6GfD1VfaX0YDz3UXntm2mHKFzorHs8tLiObdE0V6htIzrmcjBGa4teBXVsY6DiprYuXxLT0PWWeY0U+gF4kBReBDNPtVVktnDhQcU251ha2lUOWkNtOweYxMG5LlpbjKvW285vkC265jXeNkTR2ycyL6WlS75g/Io4XQoJ3uI0s4ViGwUj4ri2TW2b4WLr/BRnrS2W6W2TomMUlgTe3Bajq3S2c2G04eTQ1uUYSWZxGk+SrVo92jXMBJhGHiAmAur1ttk+Lk6F7j8+LzlHl+ts3feobXVE3YItlups84+mKZye6tAWi4mpupezISSZAgm8jhJz40RictYNYjY7aWwxmB92cRedLQaUkyBMa4seZ+u3jbwVW+N2la2OuY5t+xFz0MBZy2w529pAoW8O6djfBhpb5R+onc46WzzP9ZwuWluMqf5ptvDNqtd2jmNbyHH4rHoBpk3qx5FNGpJbQW/rJtt4Tm9r2Mz1L5zZls+amNf5ido/u4Bnob1zqUT5qQRh10UaKsv6vtVeoWOuqJb7QzKIBJOhouOaMrJR8GozKLa1rQXzdr2ir/5cqsNpEizBvoy0jD0ekMBt48m0zNQWwNOn0zRkPQJ47OHf1dmuyuJPFWZmpaWf6MNlRj1vtVfouLfgQkHZZ0rm9q9LBUVi7Kn5TcJxsderLj7whi8UYrNVrUWLu56JA/BITXRyixMkv81MT0s7sQdGAWw4cco/tRgAcACdrZP8VMHAqZ0GnADtFToMZovF0w0KLTwtFg8DdJh8xIFHK67ba83AOi62CAqcOaNxsO0diLGh3Mm2Yt42AM28vQMpooZR6Plrsi2w/N/2VzOSI5bE1PLaYPz83DPnH3v3ffHO42b8ZGYtjGkIsTPddLbJpCYWjWHEwUDUR7u3q6i68GwFUdoDaHp0tiMmR0ZG/n4LzR5f83NqIBpDFIWiHvwz6dTM+92c2439jCj6f24riaUANJ6JFAL7eB2mdWZIIivoKfw0zJaGYTY01tbF0wUqDM09TTe3fZ9WwsYoKu0KBWeLG1QYLc0NuCkniwsaQkmm2aFtVIwZTPjn3mCGv+Engl5/+vFqzsp7IHB6bgIGf3ax/Pv57UXqG7OV1s2NXRoJr8VToDBC7Pzvo++aaf5PelsEIfNMbV87XX7+b/0hQZtnjl0tSQwz/ewrkKdD2z9SBJgvaCyYryo7A5hfTXmHztGNVwDAlL1rGVUe/+YyFfQHEEqSJJiO0X22I9TrfsAyYn0Fj9yL3gCWlI4vpJzDObYj5qA8KjmcUUXbnJtmvVVsg+gvnPcso1UcdKMEANMpK8wNbg/n0kTI4+GEToB3HHedu8/LNMEnoKcP8CitgCSIrzt4uRXULKNBABbQ5awwZzjXNDeKx00xzfcC7k6khKa1xdfFPJRjKOuMuwhm0kNAtyu53SEYWPmtM2BMo/fBvEPjNPPWcKTcD8xH1B/wLt8LDaNoAjd+phunD8jz5h00mdNmyTSoCfbJKtsX5OM+svcximT7IouYb5NtZ4fjAWNmWXswvWm9xhaR9CoHHa6lAuih76wQmsi2L0CSfNZVTO4tkAyhj2/v7kJv2502AuhKLyNXPPdefLKZlO8Gyb0UDxiz90PSsmSP1tYls6iDCKbx6b4fbdbbTuKb+UKyvNITeJaGQuJ6Jtu5adfbbVdai7Q3PiyrCWZSH8DpeEnCembdX2kdYDy9CwLhvVdri+l8gOV6Iq8lgObnM52gJpxGA1hcaQEjo1ja9N/m15y76Nm0tuEUBXy3E3iYpsF04oQJMH1H5dckV6/FO7Z1zshqBgyjJZxtpT5Q8zH1qmu7gK4pXM40N61tu2s70ZOeA5rnbkdfeh4A0jOaK7sYT3fHtphF04RVF06epjVQcTcddaprO5eCXNWbH8ffc2wA/M1Ex7b4qNIjjroCiC81LuAA6+keqHBo63n2MDrRp2Da51f213RtOOrajqEZTXd2obcNpdnfJMvgqYyDEDxKWyHx7mfPNoqGwkY0jZ5sW0mmUnZvKMTRbic7tt4FJb5gDANaNO16C7jnFN6I4OUvo0jZxm+nD/it3HknDbBjO5riABjAdCzefeC4iJl4ujDBhSO/TZTlBzu2+AOl8/rrMp9im9aW4wvtOJhHeV5gfNIpO/53z6wrpbVuwjZVa9viJG2c9d57kMwj1dA0xBKd+vCVl5dYr9BBH9i1xQd0af2UcfHf0/FuTTKSY8gfCoHKKjnItuzD/O51vvpJPoU/mQiBiGQvD8wlos8h8aso8EYt/ZL4UvrxKRdIFpZZdNH0C0LgeoIHHDMuKrIhRI1zsWvbqifXGdMQHzAuIX6w4fPQpAnBZg4NXToB2qhVSGiw0uJwWg01hs7DI6PG3Nes9mYBRn3kMTRq0si77rBv2hsMQKujlb3xyyL4ewtuA89bYxek0yL8wjCZDbgNrKYbVLbYhNvEfwDV5kI78gneCAAAAABJRU5ErkJggg=="/></a>
        <% if(Object.keys(menu).length) { %>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <% Object.keys(menu).forEach( function(itemId) { %>
                    <li class="nav-item <%= itemId === activeMenu ? 'active' : '' %> ">
                        <a href="<%=menu[itemId].path %>"class="nav-link">
                            <%=menu[itemId].name %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>
        <% } %>
    </div>
</nav>
<br/>
<main class="container">
    <%- body %>
</main>
<hr>
<footer class="footer">
    <div class="container">
        <p class="text-center text-muted small">&copy ООО «Н21 Ивентс», 2020. Все права защищены.</p>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
